.btnStyle {
    margin-right: 20px !important;
    color: rgb(172, 141, 110) !important;
    border-color: rgb(172, 141, 110) !important;
    padding: 3px !important;

    &:hover {
        background-color: white !important;
        color: rgb(172, 141, 110) !important;
        border-width: 3px !important;
        border-color: rgb(172, 141, 110) !important;
    }
}

.dropdown-item {
    color: rgb(172, 141, 110) !important;
    &:hover {
        background-color: rgb(225, 211, 198) !important;
    }
}